<div class="bg-purple">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="jumbotron text-white">
          <p class="lead">win a Google Home, Chromecast Ultra and a year of nbn™</p>
          <p class="nolead">Sign up to any nbn plan before 31 August to go into the draw. Plans start from $40 a month.</p>
          <p>T&amp;Cs apply.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">sign up ></a>
          </p>
        </div>
      </div>

      <div class="col-12 col-md-4 d-flex align-items-center">
        <img class="prize .align-middle" src="/images/prize_img.png">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col text-left grid-gutter-widths text-purple">
      <img src="https://www.amaysim.com.au/sites/default/files/2017-04/lock_dash_mint.svg">
      <h4>no lock-in contracts</h4>
      <p class="">Freedom to switch you plan or cancel at anytime</p>
    </div>
    <div class="col text-left grid-gutter-widths text-purple">
      <img src="https://www.amaysim.com.au/sites/default/files/2017-04/join_dash_mint.svg">
      <h4>simple to join</h4>
      <p class="">Quick and easy online sign-up, we'll take care of all the fiddly bits.</p>
    </div>
    <div class="col text-left grid-gutter-widths text-purple">
      <img src="https://www.amaysim.com.au/sites/default/files/2017-04/app_dash_mint.svg">
      <h4>easy to manage</h4>
      <p class="">Download our app or manage you plans online.</p>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-12 col-md-4 text-left">
      <div class="card bg-orange">
        <div class="ml-1 mr-1 p-3 text-white">
          <h4>sim-only mobile plans</h4>
          <p>Unlimited standard talk &amp; text with heaps of data for use in Oz.</p>
        </div>

        <div class="100%">
          <img class="col-12 " src="/images/mobile_plans.png">
        </div>

        <div class="ml-1 mr-1 p-3">
          <%= link_to 'mobile plans', plans_mobile_plans_path %>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 text-left">
      <div class="card bg-orange">
        <div class="ml-1 mr-1 p-3 text-white">
          <h4>nbn broadband plans</h4>
          <p>Unlimited data with superfast speeds. No lock-in contracts.</p>
        </div>

        <div class="100%">
          <img class="col-12 " src="/images/nbn.png">
        </div>

        <div class="ml-1 mr-1 p-3">
          <%= link_to 'nbn plans', plans_nbn_path %>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 text-left">
      <div class="card bg-orange">
        <div class="ml-1 mr-1 p-3 text-white">
          <h4>data-only plans</h4>
          <p>Mobile broadband for your tablets and devices, for use in Oz.</p>
        </div>

        <div class="100%">
          <img class="col-12 " src="/images/data_only.png">
        </div>

        <div class="ml-1 mr-1 p-3">
          <%= link_to 'data-only plans', plans_data_plans_url %>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="bg-purple">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md-2">
        <img class="prize .align-middle" src="/images/award.png">
      </div>

      <div class="col-12 col-md-8 ">
        <div class="jumbotron">
          <p class="h2 pt-4 text-white">93% of our customers have recommended amaysim to their mates</p>
          <p class="nolead">NPS tracking survey of 2679 customers, May 2017</p>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <p class="lead">
          <a class="btn btn-third text-white btn-lg" href="#" role="button">compare plans ></a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-2">
  <div class="row align-items-center">
    <div class="lead col-12 pt-5 text-purple">
      <h2>what we've been up to</h2>
    </div>

    <div class="col-6 bg-orange pt-5 pb-5 text-center rounded">
      <p class="h4 pt-3 text-white">we've been named best VNO</p>
      <p class="mlead text-white">Delivering on the promises that we made to Aussies 6 years ago.</p>
      <p class="h4 text-white pb-3">
        <a class="btn btn-secondary btn-lg" href="#" role="button">read all about it ></a>
      </p>
    </div>

    <div class="col-6 pl-5 pt-3 text-purple">

      <p class="h6 text-orange">What a two year mobile phone contract will really cost you</p>
      <p class="mlead text-purple text-muted">14 Sep 2016 in Tech Talk</p>
      <br>
      <p class="h6 text-orange">Check out our new and improved Help section</p>
      <p class="mlead text-purple text-muted">14 Sep 2016 in Plans &amp; Services</p>
      <br>
      <p class="h6 text-orange">AS YOU GO credit now lasts for 365 days</p>
      <p class="mlead text-purple text-muted">16 Aug 2016 in Plans &amp; Services</p>


    </div>

  </div>

  <div class="row pt-4 mb-5">
    <div class="col-12 pt-4 pb-3 text-purple">
      <h2>already with amaysim?</h2>
    </div>
    <div class="col-3 text-left">
      <div class="card 100%">
        <img class="col-12 " src="/images/activate_sim.png">
      </div>
    </div>
    <div class="col-3 text-left">
      <div class="card 100%">
        <img class="col-12 " src="/images/recharge_plan.png">
      </div>
    </div>
    <div class="col-3 text-left">
      <div class="card 100%">
        <img class="col-12 " src="/images/manage_account.png">
      </div>
    </div>
    <div class="col-3 text-left">
      <div class="card 100%">
        <img class="col-12 " src="/images/need_help.png">
      </div>
    </div>



  </div>


</div>
