/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  font-family: 'Baloo Tamma';
}

.bg-white {
  background-color: white;
}

.bg-orange {
  background-color: #FF5500;
}

.bg-purple {
  background-color: #49085F;
}

.navbar {
  height: 80px;
}

.text-purple{
  color: #49085F;
}
.text-orange{
color: #FF5500;
}

.nolead {
  color: #C8B0DD;
  font-size: 14px;
}

.lead {
  font-size: 45px;
}

.mlead {
  font-size: 14px;
}

.jumbotron {
  background-color: #49085F;
  border-radius: 0px;
}

.option {
  margin: 15px 0;
}

.prize {
  width: 100%;
}

.btn-primary {
  background-color: #FF5500;
  border-color: #FF5500;
  border-radius: 30px;
  width: 150px;
}

.btn-secondary {
  background-color: #49085F;
  border-color: #49085F;
  border-radius: 30px;
  width: 200px;
}

.btn-third {
  background-color: #FF5500;
  border-color: #FF5500;
  border-radius: 30px;
  width: 200px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
