<div class="container bg-white">
  <div class="row justify-content-end">
    <a href="/my_account/activate">
      <button type="button" class="btn bg-white text-orange">Activate Sim</button>
    </a>
    <a href="/identity/login">
      <button type="button" class="btn bg-white text-orange">Login</button>
    </a>
  </div>
</div>
